@import "tailwindcss";
@theme {
  --color-primary : #000096;
  --color-secondary : #3132fe;
  --color-third: #ffff01;
  --color-fourth: #ff0082;
}

::-webkit-scrollbar {
  @apply w-[5px] h-[5px]
}
::-webkit-scrollbar-thumb {
  @apply  bg-third rounded
}

#root {
  font-family: 'DIN Next Stencil' , sans-serif;
  @apply w-full min-h-screen bg-primary px-[5%]
}	
.header {
  @apply  px-[2%] py-5 flex justify-between items-center gap-7  bg-secondary w-[750px] m-auto max-w-full md:rounded-full
}
.header .logo {
  @apply w-[150px]
}
footer {
  @apply p-4 text-white text-center text-xl
}
.navbar {
  @apply hidden sm:block
}
.navbar ul {
  @apply flex items-center gap-4 
}
.navbar ul li a {
  @apply text-white text-[18px] transition duration-300 ease-in-out hover:text-third
}

.register-form {
  @apply w-[400px] max-w-full rounded-xl p-4 border-2 border-white
}
.register-form .input-fields{
  @apply border-2 border-white rounded-md
}
.register-form .input-fields input{
  @apply w-full text-white p-4 outline-0
}

.register-form .input-fields input:not(:last-child){
  @apply border-b-2 border-white
}

.standing {
  @apply w-full bg-white border-collapse rounded-md overflow-hidden text-left
}

.standing th ,.standing td {
  @apply p-2
}

.standing thead tr {
  @apply bg-fourth text-white
}

.standing tbody tr:not(:last-child){
  @apply border-b-2 border-b-[#ededed]
}

.standing .top-team {
  border-left: 5px solid #00af60; 
}